{
  "env": {
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "comma-dangle": [
      "error",
      {
        "functions": "always-multiline",
        "arrays": "always-multiline",
        "exports": "always-multiline",
        "imports": "always-multiline",
        "objects": "always-multiline"
      }
    ]
  }
}
